/* Top Navbar */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px 20px;
gap: 16px;

position: relative;
width: 1192px;
height: 73px;

background: rgba(255, 255, 255, 0.05);
border: 1px solid rgba(255, 255, 255, 0.1);
box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 100px;


/* GridKey_Logo 1 */

margin: 0 auto;
width: 117px;
height: 32px;

background: url(GridKey_Logo.png);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1261154254 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 32px;

margin: 0 auto;
width: 302px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 108px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

width: 84px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 150%;
/* identical to box height, or 20px */
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Down */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Down */

width: 10px;
height: 5.76px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 59px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Link */

width: 59px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 150%;
/* identical to box height, or 20px */
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 71px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Link */

width: 71px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 150%;
/* identical to box height, or 20px */
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Primary - Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 16px;
gap: 8px;

margin: 0 auto;
width: 102px;
height: 41px;

/* Logo gradient */
background: linear-gradient(142.02deg, #006580 14.86%, #107281 71.32%, #4CA485 156.01%);
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* User */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon */

position: absolute;
width: 10.2px;
height: 13.19px;
left: calc(50% - 10.2px/2 + 0px);
top: calc(50% - 13.19px/2 - 0.4px);

border: 1.2px solid #FFFFFF;


/* Title */

width: 46px;
height: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

/* Primary/White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Arrow - Right */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 50%;
bottom: 50%;

/* Primary/Background */
border: 1.2px solid #F6F8F9;


/* Vector */

position: absolute;
left: 50%;
right: 20.83%;
top: 20.83%;
bottom: 20.84%;

border: 1.2px solid #FFFFFF;
